body{
    background-color: #000000;
}

nav{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#homeImage{
    transition: 0.5s all;
}

.button{
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
    background-color: #0000ff;
    padding: 0.5rem 1rem;
    text-align: center;
    margin: 0 0.5rem;
    border-radius: 8px;
    transition: 0.5s all;
}

#homeImage:hover{
    transform: scale(1.2);
}

.button:hover{
    transform: scale(1.2);
}